<DOCTYPE html>
  <html>
    
    <header>
      <title> forgot page</title>
    </header>
    <body>
      <div>
        <form>
          <input type="email" name="email" id="email">
          <input type="password" name="password" id="reenterpw">
          
        </form>
        
        
        
      </div>
      
      
    </body>
    
    
  </html>